<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">From web development to product management, we've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">From Fortune 1000's to mom-and-pop shops, we have helped everyone get their project up and running. No job is to small or too big for us.</p>
                <a href="#services" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
